<!-- MODAL -->
<%= render 'layouts/portfolio_modal' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="section-heading">Портфолио</h2>
      <h3 class="section-subheading text-muted">Оцените качество разработанных нами сайтов.</h3>
      <hr>
    </div>
  </div>
  <div class="row portfolio">
    <div class="col-sm-6">
      <a href="#modal-dressroom" data-toggle="modal">
        <div class="portfolio-hover">
          <img src="<%= image_url('portfolio/dressroom-preview.png') %>" class="img-responsive">
        </div>
      </a>
        <div class="portfolio-caption">
          <h3><a href="#modal-dressroom" data-toggle="modal">DressRoom</a></h3>
          <p class="text-muted">Интернет-магазин одежды</p>
        </div>
    </div>
    <div class="col-sm-6">
      <a href="#modal-dressroom" data-toggle="modal">
        <div class="portfolio-hover">
          <img src="<%= image_url('portfolio/dressroom-preview.png') %>" class="img-responsive">
        </div>
      </a>
      <div class="portfolio-caption">
        <h3><a href="#modal-dressroom" data-toggle="modal">DressRoom</a></h3>
        <p class="text-muted">Интернет-магазин одежды</p>
      </div>
    </div>
  </div>
</div>