<!-- BANNER -->
<div class="container-fluid container-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="service-banner">
        <span>
          <h1>Услуги создания сайтов</h1>
          <p>Поддержка и развитие ваших проектов</p>
        </span>
        <img src="<%= image_path('service/service-banner-img.png') %>">
      </div>
    </div>
  </div>
</div>

<!-- GRID -->
<div class="container service-grid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-sm-2 background-white text-green">
      <img src="<%= image_path("") %>">
      <p>Интернет <br>консалтинг</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Разработка <br>сайта</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Редизайн</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Дизайн сайта, <br>юзабилити</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Комплексный <br>аудит</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-sm-2 background-green text-white">
      <p>Интернет <br>консалтинг</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Разработка <br>сайта</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Редизайн</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Дизайн сайта, <br>юзабилити</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Комплексный <br>аудит</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-sm-2 background-white text-green">
      <p>Интернет <br>консалтинг</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Разработка <br>сайта</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Редизайн</p>
    </div>
    <div class="col-sm-2 background-green text-white">
      <p>Дизайн сайта, <br>юзабилити</p>
    </div>
    <div class="col-sm-2 background-white text-green">
      <p>Комплексный <br>аудит</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<!-------------------------
    CONTACT SECTION
--------------------------->
<section class="section-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="text-center text-green">Напишите нам и мы обязательно с вами свяжемся</h2>
        <a href="<%= contact_path %>"><button class="btn btn-order">Заказать сайт в один клик</button></a>
      </div>
    </div>
  </div>
</section>