nav {
  background: #5D827B;
  height: 57px;
  font-size: 2em;
  opacity:0.95;
}

ul.nav a:hover, ul.nav a:focus {
  background-color: inherit !important;
}

ul.nav li a {
  color: rgba(238, 223, 143, 1) !important;
}

ul.nav li a:hover {
  color: #ffffff !important;
}

.navbar-header {
  background-color: #5D827B !important;
}

.navbar-brand img {
  width: 120px;
}

.navbar-collapsed-brand {
  display: none;
  float: left;
  margin: 5px 20px
}

.icon-bar {
  background-color: #ffffff;
}

/*
 * MEDIA <1200px
 */

@media (max-width:1200px) {

  nav {
    font-size: 1.6em;
  }

  .navbar-brand img {
    width: 90px;
  }

}

/*
 * MEDIA <767 px
 */

@media (max-width: 767px) {

  nav {
    height: auto;
    position: static !important;
    opacity: 1;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-collapsed-brand {
    display: inline-block;
  }

}