nav {
  background: #5D827B;
  font-size: 2em;
  opacity:0.95;
}

ul.nav a:hover, ul.nav a:focus {
  background-color: inherit !important;
}

ul.nav li a {
  color: #FD8E74;
}

ul.nav li a:hover {
  color: #ffffff !important;
}

.navbar-header {
  background-color: #5D827B!important;
}

.icon-bar {
  background-color: #ffffff;
}