<nav>
  <div class="container">
    <ul class="nav nav-justified">
      <li><%= link_to 'Контакты' %></li>
      <li><%= link_to 'О нас'  %></li>
      <li><%= link_to 'Портфолио'  %></li>
      <li><%= link_to 'Обратная связь'  %></li>
    </ul>
  </div>
</nav>