<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<nav class="navbar-collapse collapse sidebar-navbar-collapse">
  <div class="container">
    <ul class="nav nav-justified">
      <li><%= link_to 'Главная', home_path %></li>
      <li><%= link_to 'О нас'  %></li>
      <li><%= link_to 'Портфолио', portfolio_path  %></li>
      <li><%= link_to 'Обратная связь', contact_path  %></li>
    </ul>
  </div>
</nav>