<div class="modal fade" id="modal-dressroom" tabindex="-1" role="dialog" aria-hidden="false">
<div class="modal-content">

  <div class="close-modal" data-dismiss="modal">
    <div class="lr">
      <div class="rl">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
          <!-- Project Details Go Here -->
          <h2>DressRoom</h2>
          <p class="item-intro text-muted">Интернет-магазин одежды.</p>
          <img class="modal-image img-responsive img-centered" src="<%= image_path('portfolio/dressroom-preview.png') %>" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
          <p><strong>Сылка на сайт:</strong><a class="modal-link" href="https://webultim-webultim.c9.io/"> webultim-webultim.c9.io</a></p>
          <ul class="list-inline">
            <li><strong>Дата:</strong> Апрель 2015</li>
            <li><strong>Клиент:</strong> Elation</li>
            <li><strong>Категория:</strong> Разработка вебсайта</li>
          </ul>
          <!--<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
